@font-face {
    font-family: OpenSans;
    src: url("../../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url("../../fonts/Manrope/Manrope-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url("../../fonts/Manrope/Manrope-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url("../../fonts/Manrope/Manrope-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url("../../fonts/Manrope/Manrope-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url("../../fonts/Manrope/Manrope-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url("../../fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url("../../fonts/Manrope/Manrope-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("../../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("../../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("../../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("../../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../../fonts/Inter/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../../fonts/Inter/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../../fonts/Inter/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../../fonts/Inter/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: NunitoSans;
    src: url("../../fonts/NunitoSans/NunitoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: NunitoSans;
    src: url("../../fonts/NunitoSans/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: NunitoSans;
    src: url("../../fonts/NunitoSans/NunitoSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}




//*, button, input, .body {
//    margin: 0;
//    font-family: "Inter", -apple-system,
//    BlinkMacSystemFont, "Segoe UI", Roboto,
//    Helvetica, Arial, sans-serif,
//    "Apple Color Emoji", "Segoe UI Emoji",
//    "Segoe UI Symbol" !important;
//}

.table-spacing{
    border-spacing: 0 4px;
}
.vault-table{
    tbody td:first-child{
        padding-left: 16px !important;
    }
    thead th:first-child{
        padding-left: 12px !important;
    }
}

html {
    overflow: hidden;
    width: 100%;
  }
  
  body {
    /* prevent overscroll bounce*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* iOS velocity scrolling */
  }